version: "3"
services:
  batch:
    image: ${DOCKER_IMAGE}
    container_name: batch
    user: root
    privileged: true
    environment:
      - JENKINS_OPTS="--prefix=/batch"
      - JENKINS_UC_DOWNLOAD="https://ftp.yz.yamagata-u.ac.jp/pub/misc/jenkins/"
      - JAVA_OPTS="-Djava.awt.headless=true -Dcom.sun.akuma.Daemon=daemonized"
      # - JAVA_OPTS="-Djava.awt.headless=true -Dcom.sun.akuma.Daemon=daemonized -Dcasc.jenkins.config=/var/jenkins_home/casc_configs/jenkins.yml"
      - TZ=Asia/Seoul
{% if use_traefik %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.batch.entrypoints=web,websecure"
      - "traefik.http.routers.batch.rule=Host(`${trf_domain}`) && PathPrefix(`/batch`)"
      - "traefik.http.services.batch.loadbalancer.server.port=8080"
      - "traefik.http.routers.batch.service=batch"
{% endif %}
{% if use_traefik and use_traefik_tls %}
      - "traefik.http.routers.jenkins.tls=true"
{% endif %}
    ports:
      - "{{ jenkins_port }}:8080"
      - "{{ websock_port }}:9090"
      - "{{ agent_port }}:50000"
    volumes:
{% if use_kubeconfig %}
      - {{ jenkins_home }}/kubeconfig:/root/.kube/config
{% endif %}
{% if use_ssh %}
      - {{ jenkins_home }}/.ssh/id_rsa:/root/.ssh/id_rsa
      - {{ jenkins_home }}/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub
{% endif %}
      - {{ jenkins_home }}/gitconfig:/root/.gitconfig
      - {{ jenkins_home }}/settings.xml:/root/.m2/settings.xml
      - {{ jenkins_data }}:/var/jenkins_home
      - {{ jenkins_data }}/casc_configs:/var/jenkins_home/casc_configs
      - {{ nexus_data }}:{{ nexus_data }}
      - /bin/docker:/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
      # - /usr/local/bin/kubectl:/usr/local/bin/kubectl
    restart: unless-stopped
    tty: true
{% if use_extra_hosts %}
    extra_hosts:
    {% for host in extra_hosts %}
    - {{ host }}
    {% endfor %}
{% endif %}
{% if use_dkr_net %}
    networks:
      - {{ dkr_network }}

networks:
  {{ dkr_network }}:
    external: true
{% endif %}
